.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem,
}

.listContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}
